<!DOCTYPE html>
<html>
    <head>
        <title>Netstat Utility</title>
    </head>
    <body>
        <h1>Netstat Utility</h1>
        <ul>
            <li>
                <a href="/unix_sockets">View Unix Sockets and their State</a>
            </li>
            <li>
                <a href="/tcp_sockets">View TCP Sockets and their State</a>
            </li>
            <li>
                <a href="/udp_sockets">View UDP Sockets and their State</a>
            </li>
            <li>
                <a href="/routing_table">View Routing Table</a>
            </li>
        </ul>
    </body>
</html>
